/data/**
__pycache__/
*.pyc
/synth
/ae
/data2/**
/.neptune
/data3/**
/Results/**
/data_difference/**
/Process_figures/**
/data_filtered_mat/**
/Bottleneck_data/**
/Reduced_bottleneck_data/**
saliency_output.json
/logs
/data_bmw/**
/data_bmw_combined/**